@media screen and (max-width: 765px){

    .login{
        box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.467);
    }

    label{
        left: -37%;
    }
    input {
        padding-bottom: 3px;
    }
    br {
        display: none;
    }
    
}
@media screen and (min-width: 765px) and (max-width: 1000px){
    .login{
        width: 70%;
        height: 85%;
    }
    label{
        left: -38%;
    }
    ::-webkit-input-placeholder{
        color: rgb(243, 193, 193);
    }
}

/*
Celular deitado
*/

@media screen and (min-height: 0px) and (max-height: 390px) {
    .login{
        width: 100%;
        height: 100%;
        border-radius: 0%;

    }
    label{
        left: -38%;
        margin: 5px;
        top: 0;
    }
    h1{
        top: 19px;
        font-size: 2.5em;
    }
    input{
        position: relative;
        top: 0;
    }
    button{
        position: absolute;
        bottom: 2px;
        border: 2px solid rgba(5, 30, 103, 0.675);
    }
}
