@media screen and (min-width: 500px) and (max-width: 765px){

    ::-webkit-input-placeholder{
        color: rgb(240, 26, 26);
    }
    label{
        left: -38%;
    }
    input {
        padding-bottom: 3px;
    }
    br {
        display: none;
    }
    
}
@media screen and (min-width: 765px) and (max-width: 1000px){
    .login{
        width: 70%;
        height: 85%;
    }
    label{
        left: -38%;
    }
    ::-webkit-input-placeholder{
        color: rgb(243, 193, 193);
    }
}

/*
Celular deitado
*/

@media screen and (min-height: 0px) and (max-height: 390px) {
    .login{
        top: 8px;
        width: 95%;
        height: 95%;

    }
    label{
        left: -38%;
        margin: 5px;
        top: 0;
    }
    h1{
        top: 0;
        font-size: 2.5em;
    }
    input{
        position: relative;
        top: 0;
    }
    button{
        position: absolute;
        bottom: 2px;
        border: 2px solid rgba(5, 30, 103, 0.675);
    }
}
