*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 90vh;
    background: RoyalBlue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.login{
    position: absolute;
    background: transparent;
    width: 90%;
    height: 100%;

    border-radius: 30px;
    box-shadow: black  10px 10px 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
input{
    width: 90%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: transparent;
    outline: none;
    color:#fff;
    font-size: 1em;
    color: black;
}
button{
    width: 50%;
    padding: 10px;
    background: blue;
    border: 2px solid RoyalBlue;
    outline: none;
    color:#fff;
    font-size: 1em;
    cursor: pointer;
}
h1{
    position: absolute;
    color: #fff;
    font-size: 4em;
    background-image: linear-gradient(90deg, rgb(0, 64, 255), rgb(139, 139, 0));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    top: 20px;
}
label{
    position: relative;
    left: -35%;
    padding: 4px;
    font-size: 1.5em;
}
::-webkit-input-placeholder{
    color: black;
}